extends layout

block body
  form(action='', method='post')
    | Register number  
    input(type='text', name='reg_no')
    br
    br
    | Password  
    input(type='password', name='password')
    br
    br
    input(type='submit', value='login')
